@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Trang giỏ hàng</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/lib/mycss.css" />
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="card">
    <h3>Cart Page</h3>
    <table class="table table_bordered" >
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.ProductId">Remove</a></td>
                <td>@item.Product.ProductId</td>
                <td>@item.Product.ProductName</td>
                <td><img src="~/images/@item.Product.ProductImage" width="60" /> </td>
                <td>@item.Product.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.Price * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br>
    <a asp-controller="product" asp-action="index">Continue Shopping</a>
   </div>
  </body>
</html>